@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  display: none;
}

@font-face {
  font-family: Gilroy;
  font-weight: 950;
  src: url(./assets/font/Gilroy-Black.ttf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 900;
  src: url(./assets/font/Gilroy-Bold.ttf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 600;
  src: url(./assets/font/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 400;
  src: url(./assets/font/Gilroy-Medium.ttf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 200;
  src: url(./assets/font/Gilroy-Thin.ttf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 100;
  src: url(./assets/font/Gilroy-UltraLight.ttf);
}
@font-face {
  font-family: Kajiro;
  font-weight: 100;
  src: url(./assets/font/Kajiro.ttf);
}

*{
  font-family: Gilroy;
}
@keyframes anime {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-300%);
  }
}
.marque div{
  animation-name: anime;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 25s;
}

.wrap {
  perspective: 800px;
  perspective-origin: top;
  height: 100%;
  transform: rotateZ(10deg);
  position: relative;
  top: 10vh;
  right: 2vh;
}

.red-wrap {
  position: relative;
  margin: 0 auto;
  top: 10%;
  width: 30px;
  height: 335px;
  transform-style: preserve-3d;
  transform-origin: center center;
  animation: rotate 10s infinite linear;
}

.side {
  position: absolute;
  height: 335px;
  width: 24px;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
  background: url(https://i.etsystatic.com/30555168/r/il/c44096/3399871789/il_340x270.3399871789_emfg.jpg);
}

.side:nth-child(1) {
  transform: rotateY(calc(1 * 360deg / 20)) translateZ(70px);
  background-position: calc(424px - (1 * 424px / 20)) 0;
}

.side:nth-child(2) {
  transform: rotateY(calc(2 * 360deg / 20)) translateZ(70px);
  background-position: calc(424px - (2 * 424px / 20)) 0;
}

.side:nth-child(3) {
  transform: rotateY(calc(3 * 360deg / 20)) translateZ(70px);
  background-position: calc(424px - (3 * 424px / 20)) 0;
}

.side:nth-child(4) {
  transform: rotateY(calc(4 * 360deg / 20)) translateZ(70px);
  background-position: calc(424px - (4 * 424px / 20)) 0;
}

.side:nth-child(5) {
  transform: rotateY(calc(5 * 360deg / 20)) translateZ(70px);
  background-position: calc(424px - (5 * 424px / 20)) 0;
}

.side:nth-child(6) {
  transform: rotateY(calc(6 * 360deg / 20)) translateZ(70px);
  background-position: calc(424px - (6 * 424px / 20)) 0;
}

.side:nth-child(7) {
  transform: rotateY(calc(7 * 360deg / 20)) translateZ(70px);
  background-position: calc(424px - (7 * 424px / 20)) 0;
}

.side:nth-child(8) {
  transform: rotateY(calc(8 * 360deg / 20)) translateZ(70px);
  background-position: calc(424px - (8 * 424px / 20)) 0;
}

.side:nth-child(9) {
  transform: rotateY(calc(9 * 360deg / 20)) translateZ(70px);
  background-position: calc(424px - (9 * 424px / 20)) 0;
}

.side:nth-child(10) {
  transform: rotateY(calc(10 * 360deg / 20)) translateZ(70px);
  background-position: calc(424px - (10 * 424px / 20)) 0;
}

.side:nth-child(11) {
  transform: rotateY(calc(11 * 360deg / 20)) translateZ(70px);
  background-position: calc(424px - (11 * 424px / 20)) 0;
}

.side:nth-child(12) {
  transform: rotateY(calc(12 * 360deg / 20)) translateZ(70px);
  background-position: calc(424px - (12 * 424px / 20)) 0;
}

.side:nth-child(13) {
  transform: rotateY(calc(13 * 360deg / 20)) translateZ(70px);
  background-position: calc(424px - (13 * 424px / 20)) 0;
}

.side:nth-child(14) {
  transform: rotateY(calc(14 * 360deg / 20)) translateZ(70px);
  background-position: calc(424px - (14 * 424px / 20)) 0;
}

.side:nth-child(15) {
  transform: rotateY(calc(15 * 360deg / 20)) translateZ(70px);
  background-position: calc(424px - (15 * 424px / 20)) 0;
}

.side:nth-child(16) {
  transform: rotateY(calc(16 * 360deg / 20)) translateZ(70px);
  background-position: calc(424px - (16 * 424px / 20)) 0;
}

.side:nth-child(17) {
  transform: rotateY(calc(17 * 360deg / 20)) translateZ(70px);
  background-position: calc(424px - (17 * 424px / 20)) 0;
}

.side:nth-child(18) {
  transform: rotateY(calc(18 * 360deg / 20)) translateZ(70px);
  background-position: calc(424px - (18 * 424px / 20)) 0;
}

.side:nth-child(19) {
  transform: rotateY(calc(19 * 360deg / 20)) translateZ(70px);
  background-position: calc(424px - (19 * 424px / 20)) 0;
}

.side:nth-child(20) {
  transform: rotateY(calc(20 * 360deg / 20)) translateZ(70px);
  background-position: calc(424px - (20 * 424px / 20)) 0;
}

@keyframes rotate {
  100% {
    transform: rotateY(360deg);
  }
}